/* .about { 
    text-align: center; 
    padding: 30px; 
} */

/* .product-detail { 
    display: flex; 
    gap: 20px; 
    padding: 30px; 
    align-items: center; 
}
img { 
    width: 300px; 
    height: auto; 
} */
