body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.hero {  
    text-align: center;  
    padding: 320px 220px 0 0;  
    background: url("/assets/Images/t-shirt1.png") top center/cover no-repeat;  
    color: blue;  
    height: 85vh;  
    width: 100vw; 
}

.btn { 
    background: #ff5722; 
    padding: 10px 20px; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
}

@media (max-width: 768px){
    .hero{
        padding: 300px 20px 0 0;
        text-align: center;
        white-space: nowrap;
        background-position: top 0 right -160px;
    }
}