body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.hero {  
    text-align: center;  
    padding: 320px 220px 0 0;  
    background: url("/assets/Images/t-shirt1.png") top center/cover no-repeat;  
    color: blue;  
    height: 85vh;  
    width: 100vw; /* Ensures full width */
}

.btn { 
    background: #ff5722; 
    padding: 10px 20px; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
}

